@model ProductModel


@*<fieldset>*@
@*<tbody>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CategoryId)
    @Html.HiddenFor(model => model.Category)

    <tr>
        <td>@Html.LabelFor(model => model.Categories)</td>
        <td>
            @(Html.Kendo().DropDownListFor(m => m)
                                                    .Name("Role")
                                                    .DataTextField("Name")
                                                    .DataValueField("Id")

                    /**/
                    @*.DataSource(source =>
                    {
                        source.Read("GetCategories", "Home");
                    }))*@
@*/**/
    .BindTo((System.Collections.IEnumerable)ViewData["categories"]))

    </td>*@
@*</tr>*@

@using (Html.BeginForm())
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.Category)
            @(Html.Kendo().DropDownListFor(model => model.Category)
                                                      .OptionLabel("Select Car Model")
                                                      .DataTextField("Name")
                                                      .DataValueField("Id")
                                                      .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                          {
                                                              read.Action("GetCategories", "Home")
                                                                  /*.Data("filterModels")*/;
                                                          })
                                                          .ServerFiltering(true);
                                                      })
                                                      .Enable(true)
            //.AutoBind(false)
            //.CascadeFrom("Id")
            )
        </div>
    </fieldset>
}









    @*<div class="k-edit-form-container">
            <h3>Customized Person edit template</h3>
            <br />
            <div class="k-edit-field">
                @(Html.Kendo().DropDownListFor(m => m.Category)
                            .Name("TicketStatus")
                          .DataValueField("Id")
                            .DataTextField("Name")
                            .DataSource(source =>
                            {
                                source.Read("GetCategories", "Home")
                                .ServerFiltering();
                            }))
            </div>
        </div>*@



    @*<div class="form-group">
            @Html.LabelFor(x => Model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">

                @(Html.Kendo().DropDownListFor(m => m.Category)
                    .OptionLabel("Select Category")
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(source =>
                        {
                            source.Read(read =>
                        {
                            read.Action("GetCategories", "Home");
                        });
                        })
                )

                @Html.ValidationMessageFor(x => x.Category, "", new { @class = "text-danger" })
            </div>
        </div>*@
