@model ProductModel


<div>
    @Html.ValidationMessageFor(m => m.CategoryId)
    @Html.ValidationSummary(true)


</div>
<br />
<br />
<div class="col-5">
    <fieldset id="popUpForm" @*style="padding: 10px;" *@>
        <dl>

            @Html.LabelFor(x => Model.Category.Name, htmlAttributes: new { @class = "control-label col-md-2" })


            <dt>
                @Html.HiddenFor(m => m.Categories)
            </dt>
            <dt>
                @Html.HiddenFor(m => m.Id)
            </dt>
            <dt>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Category)

            </dt>
            <dd>



                @(Html.Kendo().DropDownListFor(m => m.CategoryId)
                                        .AutoBind(true)
                                        .OptionLabel("Select Category...")
                                                    .DataTextField("Name")
                                                    .DataValueField("Id")
                                                    .Events(e=>e.Change("onChange"))
                                                    .DataSource(dataSource =>
                                                    {
                                                        dataSource.Read(read => read.Action("GetCategories", "Home"))
                                                          .ServerFiltering(true);
                                                    }))
            </dd>
        </dl>
    </fieldset>


</div>

<script type="text/javascript">

</script>




@*@using (Html.BeginForm())
    {
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="editor-field">
                @(Html.Kendo().DropDownListFor(model => model.Category)
                                                                  .OptionLabel("Select Car Model")
                                                                  .DataTextField("Name")
                                                                  .DataValueField("Id")
                                                                  .DataSource(source =>
                                                                  {
                                                                      source.Read(read =>
                                                                      {
                                                                          read.Action("GetCategories", "Home")
                                                                              /*.Data("filterModels")*/;
                                                                      })
                                                                      .ServerFiltering(true);
                                                                  })
                                                                  .Enable(true)
                        //.AutoBind(false)
                        //.CascadeFrom("Id")
                )
            </div>
        </fieldset>
    }*@









@*<div class="k-edit-form-container">
        <h3>Customized Person edit template</h3>
        <br />
        <div class="k-edit-field">
            @(Html.Kendo().DropDownListFor(m => m.Category)
                        .Name("TicketStatus")
                      .DataValueField("Id")
                        .DataTextField("Name")
                        .DataSource(source =>
                        {
                            source.Read("GetCategories", "Home")
                            .ServerFiltering();
                        }))
        </div>
    </div>*@



@*<div class="form-group">
        <div class="col-md-5">

            @(Html.Kendo().DropDownListFor(m => m.Category)
                .OptionLabel("Select Category")
                .DataTextField("Name")
                .DataValueField("Id")
                .DataSource(source =>
                    {
                        source.Read(read =>
                    {
                        read.Action("GetCategories", "Home");
                    });
                    })
            )

        </div>
    </div>*@
